.container {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin-left: 300px;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addButton {
    background-color: #1890ff;
    border-color: #1890ff;
}

.table {
    margin-top: 20px;
    
}

.table th {
    background-color: #fafafa !important;
    font-weight: 500;
}