.container {
    background: #FFFFFF;
    margin-bottom: 20px;
}
.header {
    display: flex;
    gap: 10px;
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}

.header__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

